* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.wrapper {
    min-height: 100%;
    background-color: #1c1c1c;
}

ul {
    margin: 0;
    padding: 0;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

h1,h2,h3,h4,h5 { 
    margin: 0;
}

img {
    max-width: 100%;
}
    
    .container {
        max-width: 1170px;
        margin: 0 auto;
    }
    .hero {
        background: url(../img/content/burger_bg.jfif) no-repeat center/cover;
        height: 100vh;  
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0px;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .logo__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .nav {
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-right: 28px;
    }

    .nav_item:last-child {
        margin: 0;
    }

    .nav__link {
        font-size: 14px;
        line-height: 1.14;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 400;
    }

    .btn {
        border: none;
        background: #F6762C;
        border-radius: 5px;
        padding: 15px 36px;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
    }

    .btn:hover {
        background-color: #f1691a;
        transition: all 2s;
    }

    .content {
        max-width: 49%;
        color: #FFFFFF;
        padding-top: 186px;
    }

    .content__desc {
    }

    .content__headline {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.1em;
        margin-bottom: 15px;
    }

    .title {
        font-weight: 500;
        font-size: 57px;
        line-height: 1.17;
        margin-bottom: 30px;
    }

    .content__text {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 42px;
        color: rgba(255, 255, 255, 0.7);
        line-height: 1.3;
    }

    .food {
        padding: 115px 0px 102px;
    }

    .food__list {   
        display: flex;
        justify-content: space-between;
    }

    .food__item {
        width: calc(25% - 30px);
    }

    .product-card {
        background: #312f30;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        padding-bottom: 30px;
    }

    .product-card__img-wrap {
        width: 100%;
        height: 175px;
        overflow: hidden;
        margin-bottom: 18px;
    }

    .product-card__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-card__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 13px;
    }

    .product-card__desc {
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
    }

    .order {
        background: #312f30;
    }

    .order__container {
        display: flex;
        align-items: center;
    }

    .order__img-wrap {
    }

    .order__img {
        width: 100%;
        height: 100%;
    }

    .order__desc {
    }

    .action {
    }

    .order__action {
    }

    .action__title {
        font-weight: 500;
        font-size: 44.2px;
        line-height: 52px;
        color: #FFFFFF;
    }

    .order__title {
    }

    .paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        opacity: 0.7;
    }

    .order__paragraph {
        width: 360px;
        padding-top: 25px;
    }

    .price {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
    }

    .order__price {
        margin-bottom: 11px;
        margin-top: 15px;
    }

    .price__new {
        color: #F6762C;
    }

    .price__new_size_big {
        font-size: 20px;
    }

    .price__old {
        text-decoration-line: line-through;
        color: rgba(246, 118, 44, 0.5);
    }

    .offers {
        padding: 150px 0px 146px 0px;
    }

    .offers__list {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        row-gap: 30px;
    }

    .offers__item {
        width: 48.7%;
        height: 300px;
        position: relative;
    }

    .offers__item::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
    }

    .offers__item:hover:before {
        background-color: rgba(0, 0, 0, 0.3);
        transition: all 0.3s;
    }

    .offers__item:nth-child(even) .offer__action {
        left: 9%;
    }

    .offer {
        position: relative;
    }

    .offers__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .offer__action {
        top: 50%;
        position: absolute;
        transform: translate(0, -50%);
        width: 44.6%;
        right: 0;
    }

    .offer .action__title {
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 35px;
    }

    .offer__paragraph {
        margin-bottom: 11px;
    }

    .offer__price {
        margin-bottom: 11px;
    }

    .offer__btn {
        padding: 13px 36px;
        font-size: 12px;
    }

    .feedback {
        padding-bottom: 194px;
    }

    .feedback__container {
        display: flex;
        align-items: center;
    }

    .feedback__avatars {
    }
    
    .feedback__column {
        width: 50%;
    }

    .avatars {
        border: 1px dashed rgba(246, 118, 44, 0.3);
        height: 346px;
        width: 346px;
        position: relative;
        border-radius: 50%;
        transform: rotate(-65deg);
    }

    .avatars::after {
        content: "";
        width: 230px;
        height: 230px;
        border: inherit;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: inherit;
    }

    .avatar {
        width: 85px;
        height: 85px;
        overflow: hidden;
        border-radius: 50% ;    
    }

    .feedback__avatar {
        position: absolute;
    }

    .feedback__avatar:nth-child(1) {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) rotate(65deg);
        width: 85px;
        height: 85px;
    }

    .feedback__avatar:nth-child(2) {
        top: 50%;
        right: 0;
        transform: translate(50%, -50%) rotate(65deg);
        width: 71px;
        height: 71px;      
    }

    .feedback__avatar:nth-child(3) {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%) rotate(65deg);
        width: 75px;
        height: 75px;
    }

    .feedback__avatar:nth-child(4) {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%) rotate(65deg);
        width: 77px;
        height: 77px;
    }

    .feedback__avatar:nth-child(5) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(65deg);
        width: 112px;
        height: 112px;
    }

    .avatar__link {
        width: 100%;
        height: 100%;
        display: block;
    }

    .avatar__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    .review {
        margin: 0 auto;
        max-width: 368px;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);    
        position: relative;
    }

    .review::before {
        content: "";
        display: block;
        width: 46px;
        height: 46px;
        background: rgba(246, 118, 44, 0.1);
        position: absolute;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        top: -83px;
        transform: translate(-50%, 0);
    }
    
    .review::after {
        content: "";
        display: block;
        width: 36px;
        height: 31px;
        background: url(../img/icons/fonts.svg);
        position: absolute;
        left: 47%;
        transform: translate(-50%, 0);
        top: -70px;
        transform: translate(-50%, 0);
    }

    .review__text {
        margin-bottom: 28px;
    }

    .review__user-name {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }

    .review__user-info {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
    }

    .footer {
        padding-top: 125px 0px 140px;
    }

    .footer__container {
        display: flex;
    }

    .footer__contact {
        flex-direction: column;
    }

    .logo {
    }

    .footer__logo {
    }

    .logo__img {
        width: 175.87px;
height: 88.09px;
    }

    .footer__links {
    }

    .contact-link {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .contact__link-img {
    }

    .contact-link__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.8); 
    }

    .footer__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
    }

    .footer__menu-col {
    }

    .footer__menu-title {
        font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
margin-bottom: 9px;
    }

    .footer__menu-list {
    }

    .footer__menu-item {
    }

    .footer__menu-link {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: rgba(255, 255, 255, 0.8);
margin-bottom: 10px;
    }
    
    .social {
        display: flex;
    }

    .social__item {
        margin-right: 13px;
    }

    .social__item:last-child {
        margin-right: 0px;
    }

    .social__link {
    }

    .social__icon {
    }